.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
  display: flex;
  flex-direction: column;
  padding-inline: $spacing-8;
  height: max-content;
}
.title {
  color: $color-white;
  @include font($font-heading-1);
}
