.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  display: flex;
  flex-direction: column;
  height: max-content;
}
.title {
  color: $color-white;
  @include font($font-heading-1);
}
