@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #1c443c;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #1c443c;
  }

  html {
    scrollbar-color: #1c443c #f1f1f1;
    scrollbar-width: thin;
  }
}

@layer utilities {
}

@layer components {
  .load-more-ripple .MuiTouchRipple-root {
    @apply text-primary-800/20;
  }
}
