@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
  }
}

@layer utilities {
}

@layer components {
  .load-more-ripple .MuiTouchRipple-root {
    @apply text-primary-800/20;
  }

  .scrollbar::-webkit-scrollbar {
    @apply hidden;

    .scrollbar {
      @apply relative overflow-y-auto h-screen;
    }
    .scrollbar ::before,
    ::after {
      content: "";
      @apply top-0 right-0 w-1 absolute;
    }
    .scrollbar::before {
      @apply h-full bg-primary-500 z-[1];
    }
    .scrollbar::after {
      @apply bg-primary-500 rounded-md z-[2];
    }

    .scrollbar:hover::after {
      @apply bg-primary-500;
    }
  }
  .scrollbar-thumb {
    @apply absolute right-0 w-1 bg-primary-500 rounded-md z-[2] transition-colors duration-300 hover:bg-primary-500/90;
  }
}
