.container {
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;

  [data-theme="light"] & {
    // border-right: 1px solid $color-neutral-200;
    // border-left: 1px solid $color-neutral-200;
    .thead {
      color: $color-neutral-600;
      background-color: $color-neutral-50;
      border-top: 1px solid $color-neutral-200;
      border-bottom: 1px solid $color-neutral-200;
    }

    .tr {
      border-bottom: 1px solid $color-neutral-100;
    }
  }

  [data-theme="dark"] & {
    // border-right: 1px solid $color-neutral-700;
    // border-left: 1px solid $color-neutral-700;
    .thead {
      color: $color-neutral-200;
      background-color: $color-neutral-900;
      border-top: 1px solid $color-neutral-700;
      border-bottom: 1px solid $color-neutral-700;
    }
    .tr {
      border-bottom: 1px solid $color-neutral-800;
    }
  }
}

.table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  border-spacing: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.thead {
  @include font($font-body-compact);
}

.tbody {
}

.tr {
  height: 72px;

  & > :first-child {
    padding-left: 16px;
  }

  & > :last-child {
    padding-right: 16px;
  }
}

.th {
  text-align: left;

  &[data-is-sortable="true"] {
    cursor: pointer;
  }
}
.td {
}

.th_content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.arrows {
  display: flex;
  flex-direction: column;
}

.arrow {
  &[data-active="true"] {
    stroke: $color-primary;
  }
}
