.container {
}

.header {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 24px;
  gap: 24px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.switcher {
  width: 330px;
}
