.reference {
  stroke: $color-chart-utilization;
  stroke-dasharray: 3 3;
}

.legend {
  margin-top: 20px;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin: 12px 0;
}

.toggle_text {
  margin-right: 8px;
  color: $color-neutral-400;
}
