.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include media("<desktop") {
    padding-bottom: 32px;
  }
}
.content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  @include media("<desktop") {
    flex-direction: column;
    width: 100%;
  }
}
.action_header {
  grid-column: 1 / span 12;
  grid-row: 1;

  @include media("<desktop") {
    grid-column: 1 / span 12;
    grid-row: 1;
  }
}
.chart_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  width: 100%;
}
.utilization {
  width: 100%;
}

.transaction_form {
  min-width: 450px;
  height: auto;

  @include media("<desktop") {
    min-width: 100%;
  }
}
