.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bid_header {
  @include font($font-heading-3);
}
.bid_info {
  margin-top: 8px;
  @include font($font-heading-5);
}
.discount_select_target {
  padding: 10px 16px;
  margin-block: 8px;
}
.discount_select_portal {
  width: 100%;
}

.discount_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include font($font-body);

  .percent {
    font-weight: 500;
  }

  .volume {
    color: rgba(255, 255, 255, 0.7);
  }
}

.submit {
  margin-top: 8px;
}
