.container {
  border-radius: 9999px;
  color: $color-icon-button-primary-text;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: $spacing-2_5;
  outline: none;

  transition: all 0.2s ease-out;

  [data-no-interaction-styles="false"] {
    &:hover {
      color: $color-icon-button-primary-text-hover;
    }
    &:active {
      color: $color-icon-button-primary-text-active;
    }
    &:focus {
      color: $color-icon-button-primary-text-focus;
    }
    &:disabled {
      color: $color-icon-button-primary-text-disabled;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
.fill {
  background-color: $color-icon-button-primary-bg;
  border: 1px solid $color-icon-button-primary-border;

  [data-no-interaction-styles="false"] {
    &:hover {
      background-color: $color-icon-button-primary-bg-hover;
      border: 1px solid $color-icon-button-primary-border-hover;
    }
    &:active {
      background-color: $color-icon-button-primary-bg-active;
      border: 1px solid $color-icon-button-primary-border-active;
    }
    &:focus {
      background-color: $color-icon-button-primary-bg-focus;
      border: 1px solid $color-icon-button-primary-border-focus;
    }
    &:disabled {
      background-color: $color-icon-button-primary-bg;
      border: 1px solid $color-icon-button-primary-border-disabled;
    }
  }
}
.none {
  background-color: transparent;
  border: 1px solid transparent;
}
.no_padding {
  padding: $spacing-0;
}
