.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "total_locked total_supply_borrow"
    "table_container table_container"
    "test test";
  gap: 24px;
  padding-bottom: 24px;
  @include media("<=tablet") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "total_locked"
      "total_supply_borrow"
      "table_container";
  }
}
.input {
  grid-area: test;
  height: max-content;
}

.total_locked {
  grid-area: total_locked;
  height: max-content;
}

.total_supply_borrow {
  grid-area: total_supply_borrow;
  height: max-content;
}

.table_container {
  grid-area: table_container;
  height: max-content;
}
