.container {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  gap: 8px;

  &[data-has-divider="true"] {
    border-right: solid 1px $color-neutral-700;
  }

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    border-right: none;
  }
}
.label {
  @include font($font-body);
  color: $color-neutral-400;
  white-space: nowrap;
}
.content {
  white-space: nowrap;
  @include font($font-heading-3);
  color: $color-white;
}
