.container {
  display: grid;
  grid-template-columns: 7fr minmax(350px, 4fr);
  grid-template-areas:
    "details form"
    "apy_chart form";

  gap: 16px;
}

.details {
  grid-area: details;
}

.apy_chart {
  grid-area: apy_chart;
}

.form {
  grid-area: form;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "details "
      "form"
      "apy_chart";
  }
}
