.container {
  padding: $spacing-4;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  border: 1px solid;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  outline: none;
  border: none;
  background-color: transparent;
  color: $color-neutral-400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title_container {
  display: flex;
  align-items: center;
  gap: $spacing-2;
  @include font($font-heading-5);
}

.type_information {
  color: $color-alert-border-information;
}

.type_error {
  color: $color-alert-border-error;
}

.type_message {
  color: $color-alert-border-message;
}

.type_success {
  color: $color-alert-border-success;
}

.type_warning {
  color: $color-alert-border-warning;
}

.message {
  @include font($font-body);
  padding-left: 24px;
  color: $color-alert-text;
}

.container_information {
  border-color: $color-alert-border-information;
}

.container_success {
  border-color: $color-alert-border-success;
}

.container_message {
  border-color: $color-alert-border-message;
}

.container_error {
  border-color: $color-alert-border-error;
}

.container_warning {
  border-color: $color-alert-border-warning;
}
