.overly {
  background-color: rgba(#121212, 0.1);
  z-index: 2147483620;
  inset: 0px;
  backdrop-filter: blur($backdrop_blur);
  position: fixed;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-4;
  z-index: 2147483628;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: max-content;
  min-width: 340px;
  max-width: 700px;
  height: max-content;
  max-height: 80vh;
  overflow: hidden;
  border: solid 1px $color-modal-border;
  border-radius: 20px;
  background-color: $color-modal-bg;
  padding: $spacing-4;

  @include media("<=tablet") {
    max-width: 86vw;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  @include font($font-heading-4);
  color: $color-modal-title;
  user-select: none;
}
.close_button {
  margin-inline-start: auto;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: $color-modal-button-close;
  display: flex;
  align-items: center;
  justify-content: center;
}
