.container {
  color: $color-neutral-400;
  transition: color 0.2s ease-in-out;

  &:hover:not([data-disabled="true"]):not([data-disable-hover="true"]) {
    color: $color-primary;
  }

  &:disabled {
    color: $color-neutral-200;
  }
}
