.container {
  color: $color-link-button-primary-text;
  background-color: transparent;
  border: 1px solid $color-link-button-primary-border;
  border-radius: 4px;
  user-select: none;
  outline: none;

  @include font($font-button);

  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-link-button-primary-text-hover;
    border-color: $color-link-button-primary-border-hover;
  }

  &:active {
    color: $color-link-button-primary-text-active;
    border-color: $color-link-button-primary-border-active;
  }

  &:focus {
    color: $color-link-button-primary-text-focus;
    border-color: $color-link-button-primary-border-focus;
  }
}

.disabled {
  color: $color-link-button-primary-text-disabled;
  cursor: not-allowed;
  pointer-events: none;
}
