.container {
  border-radius: 20px;
  border: 1px solid $color-neutral-700;
  overflow: hidden;
  background-color: $color-accent-primary-component;
  backdrop-filter: blur(15px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include font($font-heading-5);
  color: $color-neutral-200;
}
.borders {
  display: flex;
  gap: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.current_container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.current_value {
  @include font($font-heading-1);
  color: $color-white;
}
.description {
  @include font($font-body);
  color: $color-neutral-200;
}
