.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.row_title {
  color: $color-neutral-400;
}
