.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.scroll_container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
