.container {
  width: 100%;
  height: 100%;
  background-color: $color-accent-primary-component;
  border: 1px solid $color-neutral-700;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 24px 16px;
}
