.container {
  padding: $spacing-4;
  display: flex;
  align-items: center;
  gap: $spacing-4;
  color: $color-neutral-200;
  background-color: $color-neutral-800;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  outline: none;
  @include font($font-heading-3);
  transition: background-color 0.2s ease-in-out;
  &:hover {
    //FIXME: we need to handle it
  }
  &:disabled {
    cursor: not-allowed;
    * {
      opacity: 0.5;
    }
  }
}

.information {
  display: flex;
  align-items: center;
  gap: $spacing-4;
}
.download_icon {
  width: 24px;
  height: 24px;
}
