.container {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  transition: opacity 0.3s ease-in-out;
}
.outer_circle {
  fill: $color-sidebar-primary;
}

.inner_circle {
  fill: $color-sidebar-primary;
  stroke: $color-sidebar-dot-logo-stroke;
}
