.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tabs {
  width: 330px;
  @include media("<desktop") {
    width: 100%;
  }
}
.description {
  @include font($font-body);
  color: $color-neutral-200;
}
