$color-black: var(--color-black);
$color-white: var(--color-white);

$color-accent-primary-component: var(--color-accent-primary-component);
$color-gradient-linear-bar: var(--color-gradient-linear-bar);

$color-neutral-50: var(--color-neutral-50);
$color-neutral-100: var(--color-neutral-100);
$color-neutral-200: var(--color-neutral-200);
$color-neutral-400: var(--color-neutral-400);
$color-neutral-500: var(--color-neutral-500);
$color-neutral-600: var(--color-neutral-600);
$color-neutral-700: var(--color-neutral-700);
$color-neutral-800: var(--color-neutral-800);
$color-neutral-900: var(--color-neutral-900);

$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);

$color-accent-primary-element: var(--color-accent-primary-element);
$color-accent-secondary-element: var(--color-accent-secondary-element);
$color-accent-primary: var(--color-accent-primary);
$color-accent-primary-light: var(--color-accent-primary-light);
$color-accent-success: var(--color-accent-success);
$color-accent-warning: var(--color-accent-warning);
$color-accent-error: var(--color-accent-error);
$color-accent-info: var(--color-accent-info);

$color-semantic-success: var(--color-semantic-success);
$color-semantic-warning: var(--color-semantic-warning);
$color-semantic-error: var(--color-semantic-error);
$color-semantic-info: var(--color-semantic-info);

$color-chart-primary: var(--color-chart-primary);
$color-chart-supply: var(--color-chart-supply);
$color-chart-borrow: var(--color-chart-borrow);
$color-chart-utilization: var(--color-chart-utilization);
$color-chart-bottom: var(--color-chart-bottom);
$color-chart-grid: var(--color-chart-grid);

$color-crypto-eth: var(--color-crypto-eth);
$color-crypto-dot: var(--color-crypto-dot);
$color-crypto-mint: var(--color-crypto-mint);
$color-crypto-sui: var(--color-crypto-sui);

$color-gradient-linear-primary: var(--color-gradient-linear-primary);
$color-gradient-linear-supply: var(--color-gradient-linear-supply);
$color-gradient-linear-borrow: var(--color-gradient-linear-borrow);
$color-gradient-linear-success: var(--color-gradient-linear-success);
$color-gradient-linear-warning: var(--color-gradient-linear-warning);
$color-gradient-linear-error: var(--color-gradient-linear-error);

$color-sidebar-bg: var(--color-sidebar-bg);
$color-sidebar-primary: var(--color-sidebar-primary);
$color-sidebar-menu-bg: var(--color-sidebar-menu-bg);
$color-sidebar-menu-bg-hover: var(--color-sidebar-menu-bg-hover);
