$color-black: var(--color-black);
$color-white: var(--color-white);

$color-accent-primary-component: var(--color-accent-primary-component);
$color-gradient-linear-bar: var(--color-gradient-linear-bar);

$color-neutral-50: var(--color-neutral-50);
$color-neutral-100: var(--color-neutral-100);
$color-neutral-200: var(--color-neutral-200);
$color-neutral-400: var(--color-neutral-400);
$color-neutral-500: var(--color-neutral-500);
$color-neutral-600: var(--color-neutral-600);
$color-neutral-700: var(--color-neutral-700);
$color-neutral-800: var(--color-neutral-800);
$color-neutral-900: var(--color-neutral-900);

$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);

$color-accent-primary-element: var(--color-accent-primary-element);
$color-accent-secondary-element: var(--color-accent-secondary-element);
$color-accent-primary: var(--color-accent-primary);
$color-accent-primary-light: var(--color-accent-primary-light);
$color-accent-success: var(--color-accent-success);
$color-accent-warning: var(--color-accent-warning);
$color-accent-error: var(--color-accent-error);
$color-accent-info: var(--color-accent-info);

$color-semantic-success: var(--color-semantic-success);
$color-semantic-warning: var(--color-semantic-warning);
$color-semantic-error: var(--color-semantic-error);
$color-semantic-info: var(--color-semantic-info);

$color-chart-primary: var(--color-chart-primary);
$color-chart-supply: var(--color-chart-supply);
$color-chart-borrow: var(--color-chart-borrow);
$color-chart-utilization: var(--color-chart-utilization);
$color-chart-bottom: var(--color-chart-bottom);
$color-chart-grid: var(--color-chart-grid);

$color-crypto-eth: var(--color-crypto-eth);
$color-crypto-dot: var(--color-crypto-dot);
$color-crypto-mint: var(--color-crypto-mint);
$color-crypto-sui: var(--color-crypto-sui);

$color-gradient-linear-primary: var(--color-gradient-linear-primary);
$color-gradient-linear-supply: var(--color-gradient-linear-supply);
$color-gradient-linear-borrow: var(--color-gradient-linear-borrow);
$color-gradient-linear-success: var(--color-gradient-linear-success);
$color-gradient-linear-warning: var(--color-gradient-linear-warning);
$color-gradient-linear-error: var(--color-gradient-linear-error);

//buttons

$color-button-primary-text: var(--color-button-primary-text);
$color-button-primary-text-hover: var(--color-button-primary-text-hover);
$color-button-primary-text-active: var(--color-button-primary-text-active);
$color-button-primary-text-focus: var(--color-button-primary-text-focus);
$color-button-primary-bg: var(--color-button-primary-bg);
$color-button-primary-bg-hover: var(--color-button-primary-bg-hover);
$color-button-primary-bg-active: var(--color-button-primary-bg-active);
$color-button-primary-bg-focus: var(--color-button-primary-bg-focus);
$color-button-primary-border: var(--color-button-primary-border);
$color-button-primary-border-hover: var(--color-button-primary-border-hover);
$color-button-primary-border-active: var(--color-button-primary-border-active);
$color-button-primary-border-focus: var(--color-button-primary-border-focus);
$color-button-primary-disabled-text: var(--color-button-primary-disabled-text);
$color-button-primary-disabled-bg: var(--color-button-primary-disabled-bg);
$color-button-primary-disabled-border: var(
  --color-button-primary-disabled-border
);

$color-button-secondary-text: var(--color-button-secondary-text);
$color-button-secondary-text-hover: var(--color-button-secondary-text-hover);
$color-button-secondary-text-active: var(--color-button-secondary-text-active);
$color-button-secondary-text-focus: var(--color-button-secondary-text-focus);
$color-button-secondary-bg: var(--color-button-secondary-bg);
$color-button-secondary-bg-hover: var(--color-button-secondary-bg-hover);
$color-button-secondary-bg-active: var(--color-button-secondary-bg-active);
$color-button-secondary-bg-focus: var(--color-button-secondary-bg-focus);
$color-button-secondary-border: var(--color-button-secondary-border);
$color-button-secondary-border-hover: var(
  --color-button-secondary-border-hover
);
$color-button-secondary-border-active: var(
  --color-button-secondary-border-active
);
$color-button-secondary-border-focus: var(
  --color-button-secondary-border-focus
);
$color-button-secondary-disabled-text: var(
  --color-button-secondary-disabled-text
);
$color-button-secondary-disabled-bg: var(--color-button-secondary-disabled-bg);
$color-button-secondary-disabled-border: var(
  --color-button-secondary-disabled-border
);

$color-button-tertiary-text: var(--color-button-tertiary-text);
$color-button-tertiary-text-hover: var(--color-button-tertiary-text-hover);
$color-button-tertiary-text-active: var(--color-button-tertiary-text-active);
$color-button-tertiary-text-focus: var(--color-button-tertiary-text-focus);
$color-button-tertiary-bg: var(--color-button-tertiary-bg);
$color-button-tertiary-bg-hover: var(--color-button-tertiary-bg-hover);
$color-button-tertiary-bg-active: var(--color-button-tertiary-bg-active);
$color-button-tertiary-bg-focus: var(--color-button-tertiary-bg-focus);
$color-button-tertiary-border: var(--color-button-tertiary-border);
$color-button-tertiary-border-hover: var(--color-button-tertiary-border-hover);
$color-button-tertiary-border-active: var(
  --color-button-tertiary-border-active
);
$color-button-tertiary-border-focus: var(--color-button-tertiary-border-focus);
$color-button-tertiary-disabled-text: var(
  --color-button-tertiary-disabled-text
);
$color-button-tertiary-disabled-bg: var(--color-button-tertiary-disabled-bg);
$color-button-tertiary-disabled-border: var(
  --color-button-tertiary-disabled-border
);
// link button
$color-link-button-primary-text: var(--color-link-button-primary-text);
$color-link-button-primary-text-hover: var(
  --color-link-button-primary-text-hover
);
$color-link-button-primary-text-active: var(
  --color-link-button-primary-text-active
);
$color-link-button-primary-text-focus: var(
  --color-link-button-primary-text-focus
);
$color-link-button-primary-text-disabled: var(
  --color-link-button-primary-text-disabled
);
$color-link-button-primary-border: var(--color-link-button-primary-border);
$color-link-button-primary-border-hover: var(
  --color-link-button-primary-border-hover
);
$color-link-button-primary-border-active: var(
  --color-link-button-primary-border-active
);
$color-link-button-primary-border-focus: var(
  --color-link-button-primary-border-focus
);

$color-icon-button-primary-text: var(--color-icon-button-primary-text);
$color-icon-button-primary-text-hover: var(
  --color-icon-button-primary-text-hover
);
$color-icon-button-primary-text-active: var(
  --color-icon-button-primary-text-active
);
$color-icon-button-primary-text-focus: var(
  --color-icon-button-primary-text-focus
);
$color-icon-button-primary-text-disabled: var(
  --color-icon-button-primary-text-disabled
);

$color-icon-button-primary-border: var(--color-icon-button-primary-border);
$color-icon-button-primary-border-hover: var(
  --color-icon-button-primary-border-hover
);
$color-icon-button-primary-border-active: var(
  --color-icon-button-primary-border-active
);
$color-icon-button-primary-border-disabled: var(
  --color-icon-button-primary-border-disabled
);
$color-icon-button-primary-border-focus: var(
  --color-icon-button-primary-border-focus
);

$color-icon-button-primary-bg: var(--color-icon-button-primary-bg);
$color-icon-button-primary-bg-hover: var(--color-icon-button-primary-bg-hover);
$color-icon-button-primary-bg-active: var(
  --color-icon-button-primary-bg-active
);
$color-icon-button-primary-bg-focus: var(--color-icon-button-primary-bg-focus);
$color-icon-button-primary-bg-disabled: var(
  --color-icon-button-primary-bg-disabled
);
//checkbox
$color-checkbox-primary-bg: var(--color-checkbox-primary-bg);
$color-checkbox-primary-bg-hover: var(--color-checkbox-primary-bg-hover);
$color-checkbox-primary-bg-active: var(--color-checkbox-primary-bg-active);
$color-checkbox-primary-bg-focus: var(--color-checkbox-primary-bg-focus);
$color-checkbox-primary-bg-disabled: var(--color-checkbox-primary-bg-disabled);

$color-checkbox-primary-border: var(--color-checkbox-primary-border);
$color-checkbox-primary-border-hover: var(
  --color-checkbox-primary-border-hover
);
$color-checkbox-primary-border-disabled: var(
  --color-checkbox-primary-border-disabled
);
$color-checkbox-primary-border-active: var(
  --color-checkbox-primary-border-active
);
$color-checkbox-primary-border-focus: var(
  --color-checkbox-primary-border-focus
);

$color-checkbox-primary-outline: var(--color-checkbox-primary-outline);
$color-checkbox-primary-outline-hover: var(
  --color-checkbox-primary-outline-hover
);
$color-checkbox-primary-outline-active: var(
  --color-checkbox-primary-outline-active
);
$color-checkbox-primary-outline-focus: var(
  --color-checkbox-primary-outline-focus
);
$color-checkbox-primary-outline-disabled: var(
  --color-checkbox-primary-outline-disabled
);

$color-checkbox-mark: var(--color-checkbox-mark);
//switch
$color-switch-primary-thumb: var(--color-switch-primary-thumb);
$color-switch-primary-bg: var(--color-switch-primary-bg);
$color-switch-primary-bg-disabled: var(--color-switch-primary-bg-disabled);
$color-switch-primary-bg-checked: var(--color-switch-primary-bg-checked);

//toot-tip
$color-tooltip-primary-bg: var(--color-tooltip-primary-bg);
$color-tooltip-primary-bg-tail: var(--color-tooltip-primary-bg-tail);
$color-tooltip-primary-text: var(--color-tooltip-primary-text);
//alert
$color-alert-bg: var(--color-alert-bg);
$color-alert-text: var(--color-alert-text);
$color-alert-border-success: var(--color-alert-border-success);
$color-alert-border-information: var(--color-alert-border-information);
$color-alert-border-message: var(--color-alert-border-message);
$color-alert-border-warning: var(--color-alert-border-warning);
$color-alert-border-error: var(--color-alert-border-error);

//button group
$color-button-group-border: var(--color-button-group-border);
$color-button-group-bg: var(--color-button-group-bg);
$color-button-group-bg-item-active: var(--color-button-group-bg-item-active);
$color-button-group-border-item-active: var(
  --color-button-group-border-item-active
);
$color-button-group-text-item: var(--color-button-group-text-item);
$color-button-group-bg-item-active-hover: var(
  --color-button-group-bg-item-active-hover
);
$color-button-group-bg-item-hover: var(--color-button-group-bg-item-hover);
$color-button-group-text-item-active: var(
  --color-button-group-text-item-active
);

//modal
$color-modal-bg: var(--color-modal-bg);
$color-modal-border: var(--color-modal-border);
$color-modal-title: var(--color-modal-title);
$color-modal-button-close: var(--color-modal-button-close);

//sidebar
$color-sidebar-border: var(--color-sidebar-border);
$color-sidebar-bg: var(--color-sidebar-bg);
$color-sidebar-primary: var(--color-sidebar-primary);
$color-sidebar-menu-bg: var(--color-sidebar-menu-bg);
$color-sidebar-menu-bg-hover: var(--color-sidebar-menu-bg-hover);
$color-sidebar-menu-disabled: var(--color-sidebar-menu-disabled);
$color-sidebar-dot-logo-stroke: var(--color-sidebar-dot-logo-stroke);

//page-layout
$color-page-layout-title: var(--color-page-layout-title);
//chart-container
$color-chart-container-title: var(--color-chart-container-title);
$color-chart-container-value: var(--color-chart-container-value);