@mixin buttons-light {
  --color-button-primary-text: var(--color-primary);
  --color-button-primary-text-hover: var(--color-primary-light);
  --color-button-primary-text-active: var(--color-primary);
  --color-button-primary-text-focus: var(--color-primary);
  --color-button-primary-disabled-text: var(--color-neutral-400);

  --color-button-primary-bg: var(--color-accent-primary-element);
  --color-button-primary-bg-hover: var(--color-accent-primary-element);
  --color-button-primary-bg-active: var(--color-accent-primary-element);
  --color-button-primary-bg-focus: var(--color-accent-primary-element);
  --color-button-primary-disabled-bg: var(--color-neutral-100);

  --color-button-primary-border: var(--color-primary);
  --color-button-primary-border-hover: var(--color-primary-light);
  --color-button-primary-border-active: var(--color-primary);
  --color-button-primary-border-focus: var(--color-primary);
  --color-button-primary-disabled-border: var(--color-neutral-100);

  --color-button-secondary-text: var(--color-neutral-400);
  --color-button-secondary-text-hover: var(--color-neutral-400);
  --color-button-secondary-text-active: var(--color-neutral-400);
  --color-button-secondary-text-focus: var(--color-neutral-600);
  --color-button-secondary-disabled-text: var(--color-neutral-200);

  --color-button-secondary-bg: var(--color-neutral-100);
  --color-button-secondary-bg-hover: var(--color-neutral-200);
  --color-button-secondary-bg-active: var(--color-neutral-100);
  --color-button-secondary-bg-focus: var(--color-neutral-200);
  --color-button-secondary-disabled-bg: var(--color-neutral-100);

  --color-button-secondary-border: var(--color-neutral-200);
  --color-button-secondary-border-hover: var(--color-neutral-200);
  --color-button-secondary-border-active: var(--color-neutral-200);
  --color-button-secondary-border-focus: var(--color-neutral-400);
  --color-button-secondary-disabled-border: var(--color-neutral-200);

  --color-button-tertiary-text: var(--color-white);
  --color-button-tertiary-text-hover: var(--color-white);
  --color-button-tertiary-text-active: var(--color-white);
  --color-button-tertiary-text-focus: var(--color-white);
  --color-button-tertiary-disabled-text: var(--color-neutral-200);

  --color-button-tertiary-bg: var(--color-neutral-800);
  --color-button-tertiary-bg-hover: var(--color-neutral-600);
  --color-button-tertiary-bg-active: var(--color-neutral-800);
  --color-button-tertiary-bg-focus: var(--color-neutral-800);
  --color-button-tertiary-disabled-bg: var(--color-neutral-100);

  --color-button-tertiary-border: var(--color-neutral-800);
  --color-button-tertiary-border-hover: var(--color-neutral-600);
  --color-button-tertiary-border-active: var(--color-neutral-800);
  --color-button-tertiary-border-focus: var(--color-neutral-600);
  --color-button-tertiary-disabled-border: var(--color-neutral-100);
}
@mixin buttons-dark {
  --color-button-primary-text: var(--color-white);
  --color-button-primary-text-hover: var(--color-white);
  --color-button-primary-disabled-text: var(--color-neutral-400);
  --color-button-primary-text-active: var(--color-white);
  --color-button-primary-text-focus: var(--color-white);

  --color-button-primary-bg: var(--color-accent-primary-element);
  --color-button-primary-bg-hover: var(--color-accent-secondary-element);
  --color-button-primary-bg-active: var(--color-accent-primary-element);
  --color-button-primary-bg-focus: var(--color-accent-primary-element);
  --color-button-primary-disabled-bg: var(--color-neutral-800);

  --color-button-primary-border: var(--color-primary);
  --color-button-primary-border-hover: var(--color-primary-light);
  --color-button-primary-border-active: var(--color-primary);
  --color-button-primary-border-focus: var(--color-primary);
  --color-button-primary-disabled-border: var(--color-neutral-800);

  --color-button-secondary-text: var(--color-neutral-200);
  --color-button-secondary-text-hover: var(--color-neutral-400);
  --color-button-secondary-text-active: var(--color-neutral-200);
  --color-button-secondary-text-focus: var(--color-neutral-200);
  --color-button-secondary-disabled-text: var(--color-neutral-700);

  --color-button-secondary-bg: var(--color-neutral-800);
  --color-button-secondary-bg-hover: var(--color-neutral-700);
  --color-button-secondary-bg-active: var(--color-neutral-800);
  --color-button-secondary-bg-focus: var(--color-neutral-700);
  --color-button-secondary-disabled-bg: var(--color-neutral-800);

  --color-button-secondary-border: var(--color-neutral-700);
  --color-button-secondary-border-hover: var(--color-neutral-700);
  --color-button-secondary-border-active: var(--color-neutral-700);
  --color-button-secondary-border-focus: var(--color-neutral-700);
  --color-button-secondary-disabled-border: var(--color-neutral-700);

  --color-button-tertiary-text: var(--color-accent-primary-component);
  --color-button-tertiary-text-hover: var(--color-accent-primary-component);
  --color-button-tertiary-text-active: var(--color-accent-primary-component);
  --color-button-tertiary-text-focus: var(--color-accent-primary-component);
  --color-button-tertiary-disabled-text: var(--color-neutral-700);

  --color-button-tertiary-bg: var(--color-white);
  --color-button-tertiary-bg-hover: var(--color-neutral-200);
  --color-button-tertiary-bg-active: var(--color-white);
  --color-button-tertiary-bg-focus: var(--color-white);
  --color-button-tertiary-disabled-bg: var(--color-neutral-800);

  --color-button-tertiary-border: var(--color-white);
  --color-button-tertiary-border-hover: var(--color-neutral-200);
  --color-button-tertiary-border-active: var(--color-white);
  --color-button-tertiary-border-focus: var(--color-accent-primary-component);
  --color-button-tertiary-disabled-border: var(--color-neutral-800);
}

@mixin link-button-light {
  --color-link-button-primary-text: var(--color-primary);
  --color-link-button-primary-text-hover: var(--color-primary-light);
  --color-link-button-primary-text-active: var(--color-primary);
  --color-link-button-primary-text-focus: var(--color-primary);
  --color-link-button-primary-text-disabled: var(--color-neutral-200);

  --color-link-button-primary-border: transparent;
  --color-link-button-primary-border-hover: transparent;
  --color-link-button-primary-border-active: transparent;
  --color-link-button-primary-border-focus: var(--color-primary);
}
@mixin link-button-dark {
  --color-link-button-primary-text: var(--color-primary);
  --color-link-button-primary-text-hover: var(--color-primary-light);
  --color-link-button-primary-text-active: var(--color-primary);
  --color-link-button-primary-text-focus: var(--color-primary);
  --color-link-button-primary-text-disabled: var(--color-neutral-700);

  --color-link-button-primary-border: transparent;
  --color-link-button-primary-border-hover: transparent;
  --color-link-button-primary-border-active: transparent;
  --color-link-button-primary-border-focus: var(--color-primary);
}

@mixin icon-button-light {
  --color-icon-button-primary-text: var(--color-neutral-400);
  --color-icon-button-primary-text-hover: var(--color-neutral-400);
  --color-icon-button-primary-text-active: var(--color-primary);
  --color-icon-button-primary-text-focus: var(--color-primary);
  --color-icon-button-primary-text-disabled: var(--color-neutral-200);

  --color-icon-button-primary-border: var(--color-neutral-200);
  --color-icon-button-primary-border-hover: var(--color-neutral-200);
  --color-icon-button-primary-border-active: var(--color-primary);
  --color-icon-button-primary-border-disabled: var(--color-neutral-200);
  --color-icon-button-primary-border-focus: var(--color-primary);

  --color-icon-button-primary-bg: var(--color-white);
  --color-icon-button-primary-bg-hover: var(--color-neutral-100);
  --color-icon-button-primary-bg-active: var(--color-accent-primary-element);
  --color-icon-button-primary-bg-focus: var(--color-accent-primary-element);
  --color-icon-button-primary-bg-disabled: transparent;
}
@mixin icon-button-dark {
  --color-icon-button-primary-text: var(--color-neutral-400);
  --color-icon-button-primary-text-hover: var(--color-neutral-400);
  --color-icon-button-primary-text-active: var(--color-primary);
  --color-icon-button-primary-text-focus: var(--color-primary);
  --color-icon-button-primary-text-disabled: var(--color-neutral-700);

  --color-icon-button-primary-border: var(--color-neutral-700);
  --color-icon-button-primary-border-hover: var(--color-neutral-400);
  --color-icon-button-primary-border-active: var(--color-primary);
  --color-icon-button-primary-border-disabled: var(--color-neutral-700);
  --color-icon-button-primary-border-focus: var(--color-primary);

  --color-icon-button-primary-bg: var(--color-neutral-800);
  --color-icon-button-primary-bg-hover: var(--color-neutral-700);
  --color-icon-button-primary-bg-active: var(--color-accent-primary-element);
  --color-icon-button-primary-bg-focus: var(--color-accent-primary-element);
  --color-icon-button-primary-bg-disabled: transparent;
}

@mixin checkbox-light {
  --color-checkbox-primary-bg: var(--color-white);
  --color-checkbox-primary-bg-hover: var(--color-neutral-50);
  --color-checkbox-primary-bg-active: #45a996;
  --color-checkbox-primary-bg-focus: var(--color-neutral-50);
  --color-checkbox-primary-bg-disabled: var(--color-white);

  --color-checkbox-primary-border: var(--color-neutral-200);
  --color-checkbox-primary-border-hover: var(--color-neutral-200);
  --color-checkbox-primary-border-disabled: var(--color-neutral-50);
  --color-checkbox-primary-border-active: #45a996;
  --color-checkbox-primary-border-focus: var(--color-neutral-200);

  --color-checkbox-primary-outline: transparent;
  --color-checkbox-primary-outline-hover: transparent;
  --color-checkbox-primary-outline-active: #45a996;
  --color-checkbox-primary-outline-focus: #45a996;
  --color-checkbox-primary-outline-disabled: transparent;
}
@mixin checkbox-light {
  --color-checkbox-primary-bg: var(--color-white);
  --color-checkbox-primary-bg-hover: var(--color-neutral-50);
  --color-checkbox-primary-bg-active: var(--color-primary);
  --color-checkbox-primary-bg-focus: var(--color-neutral-50);
  --color-checkbox-primary-bg-disabled: var(--color-white);

  --color-checkbox-primary-border: var(--color-neutral-200);
  --color-checkbox-primary-border-hover: var(--color-neutral-200);
  --color-checkbox-primary-border-disabled: var(--color-neutral-50);
  --color-checkbox-primary-border-active: var(--color-primary);
  --color-checkbox-primary-border-focus: var(--color-neutral-200);

  --color-checkbox-primary-outline: transparent;
  --color-checkbox-primary-outline-hover: transparent;
  --color-checkbox-primary-outline-active: var(--color-primary);
  --color-checkbox-primary-outline-focus: var(--color-primary);
  --color-checkbox-primary-outline-disabled: transparent;

  --color-checkbox-mark: var(--color-white);
}
@mixin checkbox-dark {
  --color-checkbox-primary-bg: var(--color-neutral-200);
  --color-checkbox-primary-bg-hover: var(--color-neutral-500);
  --color-checkbox-primary-bg-active: var(--color-primary);
  --color-checkbox-primary-bg-focus: var(--color-neutral-200);
  --color-checkbox-primary-bg-disabled: var(--color-neutral-700);

  --color-checkbox-primary-border: var(--color-neutral-700);
  --color-checkbox-primary-border-hover: var(--color-neutral-700);
  --color-checkbox-primary-border-disabled: var(--color-neutral-800);
  --color-checkbox-primary-border-active: var(--color-primary);
  --color-checkbox-primary-border-focus: var(--color-neutral-700);

  --color-checkbox-primary-outline: transparent;
  --color-checkbox-primary-outline-hover: transparent;
  --color-checkbox-primary-outline-active: var(--color-primary);
  --color-checkbox-primary-outline-focus: var(--color-primary);
  --color-checkbox-primary-outline-disabled: transparent;

  --color-checkbox-mark: var(--color-black);
}

@mixin switch-light {
  --color-switch-primary-thumb: var(--color-white);
  --color-switch-primary-bg: var(--color-neutral-200);
  --color-switch-primary-bg-disabled: var(--color-neutral-50);
  --color-switch-primary-bg-checked: var(--color-primary);
}
@mixin switch-dark {
  --color-switch-primary-thumb: var(--color-white);
  --color-switch-primary-bg: var(--color-neutral-700);
  --color-switch-primary-bg-disabled: var(--color-neutral-800);
  --color-switch-primary-bg-checked: var(--color-primary);
}
@mixin tooltip-light {
  --color-tooltip-primary-bg: var(--color-black);
  --color-tooltip-primary-bg-tail: var(--color-black);
  --color-tooltip-primary-text: var(--color-white);
}
@mixin tooltip-dark {
  --color-tooltip-primary-bg: var(--color-white);
  --color-tooltip-primary-bg-tail: var(--color-white);
  --color-tooltip-primary-text: var(--color-black);
}

@mixin alert-light {
  --color-alert-bg: var(--color-white);
  --color-alert-text: var(--color-neutral-600);
  --color-alert-border-success: var(--color-semantic-success);
  --color-alert-border-information: var(--color-semantic-info);
  --color-alert-border-message: var(--color-semantic-info);
  --color-alert-border-warning: var(--color-semantic-warning);
  --color-alert-border-error: var(--color-semantic-error);
}
@mixin alert-dark {
  --color-alert-bg: var(--color-black);
  --color-alert-text: var(--color-neutral-200);
  --color-alert-border-success: var(--color-semantic-success);
  --color-alert-border-information: var(--color-semantic-info);
  --color-alert-border-message: var(--color-semantic-info);
  --color-alert-border-warning: var(--color-semantic-warning);
  --color-alert-border-error: var(--color-semantic-error);
}

@mixin button-group-light {
  --color-button-group-border: var(--color-neutral-200);
  --color-button-group-bg: var(--color-white);
  --color-button-group-bg-item-active: var(--color-accent-primary-element);
  --color-button-group-border-item-active: var(--color-primary);
  --color-button-group-text-item: var(--color-primary);
  --color-button-group-bg-item-active-hover: var(
    --color-accent-secondary-element
  );

  --color-button-group-bg-item-hover: var(--color-neutral-50);
  --color-button-group-text-item: var(--color-neutral-400);
  --color-button-group-text-item-active: var(--color-primary);
}

@mixin button-group-dark {
  --color-button-group-border: var(--color-neutral-700);
  --color-button-group-bg: var(--color-accent-primary-component);

  --color-button-group-bg-item-active: var(--color-accent-primary-element);
  --color-button-group-border-item-active: var(--color-primary);

  --color-button-group-text-item: var(--color-primary);
  --color-button-group-bg-item-active-hover: var(
    --color-accent-secondary-element
  );

  --color-button-group-bg-item-hover: var(--color-neutral-700);
  --color-button-group-text-item: var(--color-neutral-400);
  --color-button-group-text-item-active: var(--color-primary);
}

@mixin modal-light {
  --color-modal-bg: var(--color-white);
  --color-modal-bg-handle: var(--color-neutral-200);
  --color-modal-border: var(--color-neutral-200);
  --color-modal-title: var(--color-neutral-800);
  --color-modal-button-close: var(--color-neutral-800);
}
@mixin modal-dark {
  --color-modal-bg: var(--color-neutral-900);
  --color-modal-bg-handle: var(--color-neutral-800);

  --color-modal-border: var(--color-neutral-700);

  --color-modal-title: var(--color-white);
  --color-modal-button-close: var(--color-neutral-400);
}

@mixin sidebar-light {
  --color-sidebar-border: var(--color-neutral-200);
  --color-sidebar-bg: var(--color-sidebar-bg-light);
  --color-sidebar-menu-bg: var(--color-sidebar-menu-bg-light);
  --color-sidebar-menu-bg-hover: var(--color-neutral-100);
  --color-sidebar-primary: var(--color-sidebar-primary-light);
  --color-sidebar-menu-disabled: var(--color-neutral-200);
  --color-sidebar-dot-logo-stroke: var(--color-white);
}

@mixin sidebar-dark {
  --color-sidebar-border: var(--color-neutral-700);
  --color-sidebar-bg: var(--color-sidebar-bg-dark);
  --color-sidebar-menu-bg: var(--color-sidebar-menu-bg-dark);
  --color-sidebar-menu-bg-hover: var(--color-sidebar-menu-bg-hover-dark);
  --color-sidebar-primary: var(--color-sidebar-primary-dark);
  --color-sidebar-menu-disabled: var(--color-neutral-700);
  --color-sidebar-dot-logo-stroke: var(--color-neutral-900);
}
@mixin page-layout-light {
  --color-page-layout-title: var(--color-neutral-700);
}
@mixin page-layout-dark {
  --color-page-layout-title: var(--color-white);
}

@mixin chart-container-light {
  //dummy colors
  --color-chart-container-title: var(--color-neutral-200);
  --color-chart-container-value: var(--color-white);
  --color-chat-container-bg: var(--color-accent-primary-component);
  --color-chat-container-border: var(--color-neutral-700);
}
@mixin chart-container-dark {
  --color-chart-container-title: var(--color-neutral-200);
  --color-chart-container-value: var(--color-white);
  --color-chart-container-value: var(--color-white);
  --color-chat-container-bg: var(--color-accent-primary-component);
  --color-chat-container-border: var(--color-neutral-700);
}

@mixin wallet-modal-light {
  --color-wallet-modal-wallet-list-policy-text: var(--color-neutral-400);
  --color-wallet-modal-wallet-list-item-bg: var(--color-neutral-50);
  --color-wallet-modal-wallet-list-item-text: var(--color-neutral-800);
}
@mixin wallet-modal-dark {
  --color-wallet-modal-wallet-list-policy-text: var(--color-neutral-400);
  --color-wallet-modal-wallet-list-item-bg: var(--color-neutral-800);
  --color-wallet-modal-wallet-list-item-text: var(--color-neutral-200);
}

@mixin theme-light {
  @include buttons-light;
  @include link-button-light;
  @include icon-button-light;
  @include checkbox-light;
  @include switch-light;
  @include tooltip-light;
  @include alert-light;
  @include button-group-light;
  @include modal-light;
  @include sidebar-light;
  @include page-layout-light;
  @include chart-container-light;
  @include wallet-modal-light;
  --color-black: #121212;
  --color-white: #ffffff;

  --color-primary: #0b5d56;
  --color-primary-light: #18938a;
  --color-primary-dark: #084540;

  --color-accent-primary-element: #45a99626;
  --color-accent-secondary-element: #129c8226;
  --color-accent-primary: #dbe7e6;
  --color-accent-primary-light: #ddefee;
  --color-accent-success: #dbf5ec;
  --color-accent-warning: #fef1db;
  --color-accent-error: #fbdde4;
  --color-accent-info: #e2ecfe;

  --color-neutral-50: #f5f7fa;
  --color-neutral-100: #e9ebee;
  --color-neutral-200: #d1d5db;
  --color-neutral-400: #697586;
  --color-neutral-500: #999999;
  --color-neutral-600: #333333;
  --color-neutral-700: #444444;
  --color-neutral-800: #121212;
  --color-neutral-900: #1e1e1e;

  --color-semantic-success: #04a26d;
  --color-semantic-warning: #f59e0b;
  --color-semantic-error: #e11d48;
  --color-semantic-info: #3b82f6;

  --color-chart-primary: #45a996;
  --color-chart-supply: #ff62c8;
  --color-chart-borrow: #60a5fa;
  --color-chart-utilization: #5cc52b;
  --color-chart-bottom: #b3b3bb;
  --color-chart-grid: #d9d9dd;

  --color-crypto-eth: #627eea;
  --color-crypto-dot: #7b78ff;
  --color-crypto-mint: #478f6c;
  --color-crypto-sui: #4ecbfc;

  --color-sidebar-bg-light: #ffffff;
  --color-sidebar-primary-light: #45a996;
  --color-sidebar-menu-bg-light: #45a99626;

  --color-gradient-linear-primary: linear-gradient(
    180deg,
    #56ddb44d 0%,
    #56ddb40d 100%
  );
  --color-gradient-linear-supply: linear-gradient(
    180deg,
    #ff62c84d 0%,
    #ff62c826 100%
  );
  --color-gradient-linear-borrow: linear-gradient(
    180deg,
    #1f94ff4d 0%,
    #1f94ff26 100%
  );
  --color-gradient-linear-success: linear-gradient(
    90deg,
    #10b981 0%,
    #3dd2a9 49.5%,
    #45a996 100%
  );
  --color-gradient-linear-warning: linear-gradient(
    90deg,
    #f59e0b 0%,
    #f5bb81 49.5%,
    #fa9f20 100%
  );
  --color-gradient-linear-error: linear-gradient(
    90deg,
    #e11d48 0%,
    #ec4141 49.5%,
    #ff3028 100%
  );
}

@mixin theme-dark {
  @include buttons-dark;
  @include link-button-dark;
  @include icon-button-dark;
  @include checkbox-dark;
  @include switch-dark;
  @include tooltip-dark;
  @include alert-dark;
  @include button-group-dark;
  @include modal-dark;
  @include sidebar-dark;
  @include page-layout-dark;
  @include chart-container-dark;
  @include wallet-modal-dark;
  --color-black: #121212;
  --color-white: #ffffff;

  --color-primary: #4ecdc4;
  --color-primary-light: #78d9d1;
  --color-primary-dark: #2a3a3f;

  --color-accent-primary-element: #56ddb433;
  --color-accent-secondary-element: #96ffdf26;
  --color-accent-primary: #1b2e2c;
  --color-accent-primary-light: #212f2e;
  --color-accent-success: #1a3022;
  --color-accent-warning: #352f1b;
  --color-accent-error: #352023;
  --color-accent-info: #1d2834;

  --color-neutral-50: #f5f7fa;
  --color-neutral-100: #e9ebee;
  --color-neutral-200: #e0e0e0;
  --color-neutral-400: #aaaaaa;
  --color-neutral-500: #999999;
  --color-neutral-600: #333333;
  --color-neutral-700: #444444;
  --color-neutral-800: #2A2A2A;
  --color-neutral-900: #1e1e1e;

  --color-semantic-success: #4ade80;
  --color-semantic-warning: #fcd34d;
  --color-semantic-error: #fb7185;
  --color-semantic-info: #60a5fa;

  --color-chart-primary: #56ddb4;
  --color-chart-supply: #ff62c8;
  --color-chart-borrow: #60a5fa;
  --color-chart-utilization: #96ff66;
  --color-chart-bottom: #7b7b8e;
  --color-chart-grid: #4c4c56;

  --color-crypto-eth: #5664d280;
  --color-crypto-dot: #7b78ff80;
  --color-crypto-mint: #37db8c80;
  --color-crypto-sui: #4ecbfc80;

  --color-sidebar-bg-dark: #1e1e1e80;
  --color-sidebar-primary-dark: #56ddb4;
  --color-sidebar-menu-bg-dark: #56ddb433;
  --color-sidebar-menu-bg-hover-dark: #2a2a2a;

  --color-accent-primary-component: #1e1e1e80;

  --color-gradient-linear-primary: linear-gradient(
    180deg,
    rgba(86, 221, 180, 0.3) 0%,
    rgba(86, 221, 180, 0.05) 100%
  );
  --color-gradient-linear-supply: linear-gradient(
    180deg,
    rgba(255, 98, 200, 0.3) 0%,
    rgba(255, 98, 200, 0.15) 100%
  );
  --color-gradient-linear-borrow: linear-gradient(
    180deg,
    rgba(31, 148, 255, 0.3) 0%,
    rgba(31, 148, 255, 0.15) 100%
  );
  --color-gradient-linear-success: linear-gradient(
    90deg,
    #4ade80 0%,
    #36e977 49.5%,
    #6dd994 100%
  );
  --color-gradient-linear-warning: linear-gradient(
    90deg,
    #fcd34d 0%,
    #ffd359 43.5%,
    #f5b64f 100%
  );
  --color-gradient-linear-error: linear-gradient(
    90deg,
    #fa5069 0%,
    #fb7185 41.5%,
    #f13853 100%
  );

  --color-gradient-linear-bar: linear-gradient(
    180deg,
    rgba(170, 170, 170, 0.3) 0%,
    rgba(170, 170, 170, 0.05) 100%
  );
}
