@use "./theme" as *;
:root {
  @include theme-dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  padding-right: calc(100vw - 100%);
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  font-family: $font-family-primary;
  width: 100%;
  color: $color-white;
  @include font($font-body);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-black;
}

::-webkit-scrollbar-thumb {
  background: $color-neutral-700;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $color-neutral-700 $color-black;
}

@supports selector(::-webkit-scrollbar) or selector(scrollbar-width) or
  (scrollbar-color) {
  * {
    scrollbar-width: thin;
    scrollbar-color: $color-neutral-700 $color-black;
  }
}

//toastify styles

.toastify_container {
  padding: 0;
  border-radius: 20px;
  background-color: $color-black;
  overflow: hidden;
}

.toastify_success {
  background: $color-semantic-success !important;
}

.toastify_information {
  background: $color-semantic-info !important;
}

.toastify_message {
  background: $color-semantic-info !important;
}

.toastify_warning {
  background: $color-semantic-warning !important;
}

.toastify_error {
  background: $color-semantic-error !important;
}
