.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: $spacing-2_5;
  gap: $spacing-1;
}

.container {
  display: flex;
  flex: 1;
  background-color: blue;
  flex-direction: column;
  gap: $spacing-4;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.policy {
  @include font($font-body-compact);
  color: $color-wallet-modal-wallet-list-policy-text;
}
