.container {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid $color-checkbox-primary-border;
  background-color: $color-checkbox-primary-bg;
  outline: 2px solid $color-checkbox-primary-outline;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: 1px solid $color-checkbox-primary-outline;

  &:checked {
    background-color: $color-checkbox-primary-bg-active;
    border-color: $color-checkbox-primary-border-active;
    outline-color: $color-checkbox-primary-outline-active;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 45%;
      width: 25%;
      height: 50%;
      border: 2px solid $color-checkbox-mark;
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:hover:not(:disabled):not(:checked) {
    background-color: $color-checkbox-primary-bg-hover;
    border-color: $color-checkbox-primary-border-hover;
    outline-color: $color-checkbox-primary-outline-hover;
  }
  &:hover:not(:disabled):checked {
    background-color: $color-checkbox-primary-bg-active;
    border-color: $color-checkbox-primary-border-active;
    outline-color: $color-checkbox-primary-outline;
  }
  &:focus:not(:checked) {
    background-color: $color-checkbox-primary-bg-focus;
    border-color: $color-checkbox-primary-border-focus;
    outline-color: $color-checkbox-primary-outline-focus;
  }

  &:disabled {
    background-color: $color-checkbox-primary-bg-disabled;
    border-color: $color-checkbox-primary-border-disabled;
    outline-color: $color-checkbox-primary-outline-disabled;
    cursor: not-allowed;
  }
}
